---
layout: base.njk
title: Home
---

{% include "navbar.njk" %}
<section id="home">
  <video autoplay="autoplay" muted="muted" loop="loop">
    <source src="/static/vid/videoplayback.mp4" type="video/mp4">
  </video>
  <!--<div class="container">
    <div class="row">
      <div class="text-right col-md-12">
        <div class="mr-5 mt-5">
          <a href="https://www.facebook.com/kisspuppymusic/" target="_blank" class="ico-grayscale ml-4"><img src="/static/img/icons/fb-color.ico" height="30px" width="auto"></a>
          <a href="https://www.instagram.com/" target="_blank" class="ico-grayscale ml-4"><img src="/static/img/icons/instagram-color.ico" height="25px" width="auto"></a>
          <a href="https://soundcloud.com/pottrs-music/" target="_blank" class="ico-grayscale ml-4"><img src="/static/img/icons/soundcloud-color.ico" height="25px" width="auto"></a>
        </div>
      </div>
    </div>

    <div class="row text-center mt-4">
      <div class="col-md-12">
        <img src="/static/img/lip.svg" height="100px" width="100px">
      </div>

    </div>
  </div>-->

</section>

<section id="news" class="bg-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="br1 mt-120">
        <div class="br2">
          <h2 class="mx-4 font-weight-bold">News</h2>
        </div>
      </div>
    </div>
    
    <div class="row">
      {%- set postslist = collections.posts | head(4) -%}
      {%- for post in postslist -%}
          <div class="col-md-6">
            <div class="text-center px-4 mt-80">
              <a class="link-decor" href="{{post.url}}">
                <img class="news-img" src="{{post.data.thumbnail}}">
                <p class="mt-4">
                  <b>{{ post.data.title }}</b>
                </p>
              </a>
              <p class="text-left news-text">{{post.data.summary}}</p>
            </div>
          </div>
      {%- endfor -%}
    
    </div>
    <div class="text-center font-weight-bold my-5">
      <a class="link-decor" href="/news">See More</a>
    </div>
  </div>
</section>

<section id="bio" class="pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="br1-bio my-max">
        <div class="br2-bio">
          <h2 class="mx-4 font-weight-bold">Biography</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 px-5 text-justify">
        <p>From the former name Potters, Kiss Puppy was originally a folk
           band started by Kersly Potter (vocalist). These youngsters
           were originally formed by college friends Erick (drums), Kersly
           (vocals), Junrel (guitar), Ceman (guitar), and Cyrel (bass). As
           typical band problems arise, Cyrel was replaced by Ian as bass-
           ist. Since then, Potters became a funkrock band heavily in-
           spired by Red Hot Chili Peppers. They Created unique rap
           funky sound that charmed their music careers. For almost 4
           years Potters were consistent but for some reasons, Junrel and
           Ian disbanded. Nell (bass) and Elmer (guitar) then came and
           finally Potters is kicking balls again.</p>

           <p>With the new line up, Potters became very active and released
           their first ever single Pussycat Balls. For 3 years these funky
           heads created lots of songs (haven’t released some of them
           yet.) Everyone is in perfect chemistry and finally found the
           epitome of the band. Potters was the name for almost 4 years
           but decided to change it to Kiss Puppy .</p>

           <p>They accompanied rap and funk sound with a heavy feel to it.
           The uniqueness is really obvious. Stay tuned for Kiss Puppy’s
           first album in progress!</p>
      </div>
      <div class="col-md-6">
        <img class="mt-n3" src="/static/img/img_biography.png" height="500px" width="100%">
      </div>
    </div>
  </div>
</section>

<section id="music" class="pb-120 bg-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="br1 my-max">
        <div class="br2">
          <h2 class="mx-4 font-weight-bold">What's Kickin?</h2>
        </div>
      </div>
    </div>
    <div class="text-center mt-n80">
      <p>We Released our first ever single Pussycat Balls. <br>Stream online now!</p>
    </div>
    <div class="row mt-80 my-auto">
      <div class="col-md-6 text-center">
        <img class="mx-auto drop-shadow" src="/static/img/img_album.png" height="250" width="85%">
      </div>
      <div class="col-md-6 text-left my-auto">
        <div class="text-left">
          <ul class="list-no-style my-auto">
            <li class="my-2"><a class="link-decor" href="https://soundcloud.com/pottrs-music/pottrs-pussycat-balls" target="_blank"><b>Soundcloud</b></a></li>
            <li class="my-2"><a class="link-decor" href="https://www.youtube.com/watch?v=5Pd-PrVmEG0" target="_blank"><b>Music Video</b></a></li>
            <li class="my-2"><a class="link-decor" href="#"><b>Bandcamp</b></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "footer.njk" %}