<footer class="bg-light py-5">
  <div class="container mb-4">
    <div class="row text-center">
      <div class="col-md-12">
        <img src="/static/img/lip.svg" height="130" width="130">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <a class="link-decor" href="https://www.facebook.com/kisspuppymusic/" target="_blank">
          <img class="mx-3 ico-grayscale" src="/static/img/icons/fb-color.ico" height="35" width="35">
        </a>
        <a class="link-decor" href="https://www.instagram.com/" target="_blank">
          <img class="mx-3 ico-grayscale" src="/static/img/icons/instagram-color.ico" height="30" width="30">
        </a>
        <a class="link-decor" href="https://soundcloud.com/pottrs-music/" target="_blank">
          <img class="mx-3 ico-grayscale" src="/static/img/icons/soundcloud-color.ico" height="30" width="30">
        </a>
      </div>
    </div>
  </div>
</footer>