<nav class="navbar navbar-expand-md py-3">
    <div class="container px-7">
        <a class="navbar-brand" href="#">
            <img src="/static/img/logo.svg" alt="kiss puppy icon" width="auto" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav nav-ul">
                <li class="mx-3">
                    <a class="nav-link line" href="#">Home</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link line" href="#">News</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link line" href="#">Bio</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link line" href="#">Music</a>
                </li>
            </ul>
        </div>
    </div>
</nav>