<nav class="navbar navbar-light navbar-expand-md py-3">
    <div class="container">

        <a class="navbar-brand" href="#">
            <img src="/static/img/logo.svg" alt="kiss puppy icon" width="auto" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsiblenavbar">
            <span class="navbar-toggler-icon" style="width: 10px!important"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsiblenavbar">
            <ul class="navbar-nav nav-ul" id="myScrollspy">
                <li class="nav-item mr-4">
                    <a class="a nav-link line d-inline-block text-darker" href="#top">Home</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="a nav-link line d-inline-block text-darker" href="#news">News</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="a nav-link line d-inline-block text-darker" href="#bio">Bio</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="a nav-link line d-inline-block text-darker" href="#music">Music</a>
                </li>
            </ul>

        </div>

    </nav>